/Bestellung$Artikel.class
/Bestellung.class
/Check.class
/Fibonacci2.class
/Fibonacci2020ws.class
/Kurs.class
/Mitglied.class
/OnlieShop.class
/Sitzplatzreservierung.class
/SpaceInvaders.class
/StringCalculate.class
/Toolbox.class
/WidmarkFormel.class
/Zielort$Fahrstrecke.class
/Zielort.class
/textersetzen.class
